@import '../../styles/globals.scss';

.Input {
  padding: 6px 12px;
  background: transparent;
  border: 1px solid $site;
  border-radius: 2px;
  font-family: $primary;
  color: $dark;
  width: 50%;
}

@media screen and (max-width: 599px) {
  .Input {
    width: 80%;
  }
}

.Button {
  border-radius: 50px;
  padding: 10px 20px;
  color: $light;
  background: $site;
  font-family: $primary;
  box-shadow: $bs-1;
  cursor: pointer;
  text-decoration: none !important;
  border: 0;

  @include flex-center;
}

.Button:hover {
  opacity: 0.8;
  transition: opacity 0.4s;
  color: $light;
}
