@import "../../styles/globals.scss";

.Button {
    border-radius: 50px;
    padding: 10px 20px;
    color: $site;
    background: $light-2;
    font-family: $primary;
    box-shadow: $bs-1;
    cursor: pointer;
    text-decoration: none !important;
    
    @include flex-center;
}

.Button:hover {
    opacity: 0.8;
    transition: opacity .4s;
    color: $site;
}

.Primary {
    color: $light-2;
    background: $site;

    &:hover {
        color: $light-2;
    }
}

.Secondary {
    background: transparent;
    border: 1px solid $light;
    color: $light-2;

    &:hover {
        transition: background .4s;
        background: $light;
        color: $site;
    }
}