@import "../../styles/globals.scss";

.Button {
    border-radius: 50px;
    padding: 10px 20px;
    color: $dark;
    background: $light;
    font-family: $primary;
    box-shadow: $bs-1;
    cursor: pointer;
    
    @include flex-center;
}

.Button:hover {
    opacity: 0.8;
    transition: opacity .4s;
}

.Primary {
    color: $light;
    background: $site;
}

.Secondary {
    background: transparent;
    border: 1px solid $light;
    color: $light;
}