@import '../../styles/globals.scss';

.Link {
  font-family: $fancy;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: $dark;
  text-decoration: none;
  margin: 10px 20px;

  &:hover {
    transition: opacity 0.4s;
    opacity: 0.8;
    color: $dark;
  }
}

.Copy {
  font-family: $fancy;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: $dark;
}
