/* Colors */

$dark: #173750;
$light: #ffffff;
$site: #1F18C0;
$green: #12945e;

$bs-1: 0 2px 4px rgba($dark, 0.15);
$main-layout: 20px 100px;


/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

$header: 'Karla', sans-serif;
$primary: 'Montserrat', sans-serif;
$fancy: 'PT Serif', serif;


@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
