/* Colors */

$dark: #022D4F;
$light: #EEECE8;
$light-2: #DCD8D0;
$site: #61210F;
$green: #129490;

$bs-1: 0 2px 4px rgba($dark, 0.15);
$main-layout: 20px 100px;


/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Montserrat&display=swap');

$header: 'Karla', sans-serif;
$primary: 'Montserrat', sans-serif;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
