@import '../styles/globals.scss';

.Home {
  padding: $main-layout;
}

.BannerContainer {
  position: absolute;
  max-width: 400px;
  text-align: center;
  top: 45%;
  transform: translate(0, -45%);
  flex-direction: column;
  @include flex-center;
}

.Center {
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
}

.Right {
  right: 10%;
}

.Left {
  left: 10%;
}

.BannerText {
  margin-bottom: 50px;
}

.BannerButton {
  width: 50%;
}

.ImgContainer {
  height: 320px;
  width: 320px;
}

@media screen and (max-width: 600px) {
  .BannerText {
    position: relative;
    top: initial;
    right: initial;
    max-width: none;
    padding: 25px;

    @include flex-center;
  }
}
